/* Rosé Pine Dawn - Estética Unificada */

* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 12px;
    border: none;
}

window#waybar {
    background-color: rgba(250, 244, 237, 0.7); /* Transparencia para el Blur */
    border-radius: 22px;
}

/* Contenedores de módulos */
#custom-launcher, #clock, #network, #cpu, #memory, #battery, #pulseaudio, #tray, #custom-power {
    background-color: #faf4ed;
    color: #575279;
    margin: 5px 0px;
    padding: 0 5px;
    border-radius: 16px; /* Bordes suaves estilo Material You */
}

/* --- Personalización de Módulos --- */

#custom-launcher {
    color: #907aa9; /* Iris */
    margin-left: 8px;
    padding: 0px 5px 0px 8px;
}

#workspaces {
    border: 1px solid rgba(144, 122, 169, 0.2);
    background-color: #faf4ed;
    color: #575279;
    margin: 5px 3px;
    padding: 0 5px;
    border-radius: 16px; 
}

#workspaces button.active {
    color: #907aa9;
}

#clock {
    font-weight: bold;
    color: #286983; /* Pine */
}

/* Agrupación de la derecha */
#network { border-radius: 16px 0 0 16px; color: #b4637a; }
#cpu { border-radius: 0; color: #d7827e; }
#memory { border-radius: 0; color: #ea9d34; }
#battery { border-radius: 0; color: #56949f; }
#pulseaudio { border-radius: 0; color: #907aa9; }
#tray { border-radius: 0; }
#custom-power { border-radius: 0 16px 16px 0; color: #b4637a; margin-right: 8px; }

/* Separadores sutiles entre módulos agrupados */
.modules-right > widget:not(:first-child) > #cpu,
.modules-right > widget:not(:first-child) > #memory,
.modules-right > widget:not(:first-child) > #battery,
.modules-right > widget:not(:first-child) > #pulseaudio,
.modules-right > widget:not(:first-child) > #tray,
.modules-right > widget:not(:first-child) > #custom-power {
    border-left: 1px solid rgba(152, 147, 165, 0.2);
}
